* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  font-family: "Lato", "Arial", sans-serif;
}

.header {
  height: 90vh;
  width: 100vw;
  position: relative;
}

.img_coverHeader {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(35%);
  /* background-size: cover; */
}

.showdown_bg {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  opacity: 0.7;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  /* background-color: bisque; */
  position: absolute;
  top: 0;
  padding: 15px 100px 0;
}

.menu .logo_container {
  width: 100px;
  height: 100px;
}

.logo_container img {
  width: 100px;
  filter: brightness(0) invert(1);
}

.menu ul {
  display: flex;
  width: 70%;
}

.menu ul li {
  list-style: none;
  display: inline-block;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

/*  */
.header_title {
  width: 600px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
}

.header_title h1 {
  color: whitesmoke;
  width: fit-content;
}

.header_button_container {
  margin-top: 20px;
  display: flex;
  width: 400px;
}

.header_button_container .hungry {
  color: white;
  width: 40%;
  margin-right: 20px;
  padding: 12px;
  border-radius: 20px;
  border-style: none;
  background-color: #e67622;
}

.header_button_container .hungry:hover {
  background: none;
  color: white;
  cursor: pointer;
  border: 2px solid #e67622;
}

.header_button_container .showmore {
  width: 60%;
  padding: 12px;
  border-radius: 20px;
  background: none;
  color: #e67622;
  border: 2px solid #e67622;
}

.header_button_container .showmore:hover {
  cursor: pointer;
  color: white;
  background-color: #e67622;
}

#box {
  display: none;
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
  position: absolute;
  left: 65%;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px;
}

/* Part2 */
.part2 {
  width: 100vw;
  height: 600px;
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.features_title {
  text-align: center;
  font-weight: 100;
  margin-bottom: 20px;
}

.line {
  width: 100px;
  height: 3px;
  background-color: #e67622;
  margin-bottom: 20px;
}

.features_description {
  width: 100%;
  font-size: 20px;
  color: gray;
}

.items_container {
  width: 100%;
}

.box1 {
  width: 300px;
  border: red 2px solid;
}
